<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div class="login-container">
        <h2>회원가입</h2>
        <div class="underline"></div>
        
        <form class="signup-form" th:action="@{/user/regist}" method="post" id="registForm">
            
            <label for="nickname">닉네임</label>
            <div class="input-wrap">
                <input id="nickname" name="name" type="text" placeholder="닉네임 입력" required>
                <button type="button" class="check-btn nickname-check">중복확인</button>
            </div>
            <ul>*닉네임은 10자(한글,영문)이하로 작성해주세요.</ul>
            <p class="msg" id="nicknameMsg"></p>

            <label for="email">이메일</label>
            <div class="input-wrap">
                <input id="email" name="email" type="email" placeholder="이메일 입력" required>
                <button type="button" class="check-btn email-check">중복확인</button>
            </div>
            <p class="msg" id="emailMsg"></p>

            <label for="password">비밀번호</label>
            <input id="password" name="password" type="password" placeholder="비밀번호 입력" required>
            <ul>*비밀번호는 8자~16자(영어 소문자,특수문자,숫자 각1개 이상)로 작성해주세요.</ul>
            <p class="msg" id="checkMsg"></p>

            <label for="password-check">비밀번호 확인</label>
            <input id="passwordCheck" type="password" placeholder="비밀번호를 한번더 입력하세요.">
            <p class="msg" id="pwMsg"></p>
            
            <div class="btn-wrap">
                <button type="submit" class="register-btn">
                    <span class="text-expand">가입하기</span>
                </button>
            </div>
        </form>
    </div>

    <script th:src="@{/js/signup.js}"></script>
</body>
</html> -->