<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입 - Yammi</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <th:block th:replace="~{modules/header :: headerFragment}" />

    <div class="login-container">

        <h2>회원가입</h2>
        <div class="underline"></div>

        <form class="signup-form" id="registForm" th:action="@{/user/regist}" method="post" th:object="${userDto}">
            
            <label for="nickname">닉네임</label>
            <div class="input-wrap">
                <input id="nickname" name="name" type="text" placeholder="닉네임은 10자(한글,영문)이하로 작성해주세요">
                <button type="button" class="check-btn nickname-check">중복확인</button>
            </div>
            <p class="msg" id="nicknameMsg"></p>
            <p class="msg" style="color:#d42e2e" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

            <label for="email">이메일</label>
            <div class="input-wrap">
                <input id="email" name="email" type="email" placeholder="이메일 형식으로 입력해주세요">
                <button type="button" class="check-btn email-check">중복확인</button>
            </div>
            <p class="msg" id="emailMsg"></p>
            <p class="msg" style="color:#d42e2e" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            <label for="password">비밀번호</label>
            <input id="password" name="password" type="password" placeholder="비밀번호는 8자~16자(영어 소문자,특수문자,숫자 각1개 이상)로 작성해주세요">
            <p class="msg" id="checkMsg"></p>
            <p class="msg" style="color:#d42e2e" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <label for="passwordCheck">비밀번호 확인</label>
            <input id="passwordCheck" type="password" placeholder="비밀번호를 한번더 입력하세요.">
            <p class="msg" id="pwMsg"></p>

            <div class="btn-wrap">
                <button type="submit" class="register-btn">
                    <span class="text-expand">가입하기</span>
                </button>
            </div>
        </form>
    </div>

    <th:block th:replace="~{modules/footer :: footerFragment}" />

    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/signup.js}"></script>
</body>
</html>