@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "맑은 고딕";
}

/*불릿 제거*/
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

/* 상단 영역 */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 80px;
}

.logo a{
    color: black;
    text-decoration: none;
  font-size: 35px;
  font-weight: 700;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 8px;
  width: 470px;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search-btn i {
  color: #aeaeae;
  font-size: 15px;
}
.search-btn:hover i {
  color: #a2a2a2;
}


.login-btn {
  background: #89ca6a;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.login-btn:hover {
    background-color: #66ad46;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
}

/* 하단 메뉴 */
.nav-bar {
  background: #89ca6a;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
  margin: 0;
  padding: 15px 0;
}

.nav-bar li{
  border-radius: 5;
  transition: background 0.2s ease;
}

.nav-bar li:hover {
  background-color: #66ad46;
}

.nav-bar a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 9px 30px;

  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s;
}