<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yammi - 홈</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <link rel="stylesheet" th:href="@{/css/main.css}">
  
</head>

<body>

  <th:block th:insert="~{modules/header :: headerFragment}" />

  <main class="intro-container">
    <p class="intro-ask fade-up">오늘은 뭘 해먹어야 할까? 볶음밥? 김치찌개? 🤔</p>

    <h2 class="intro-title fade-up delay-1">
      그럴 때는 <span>AI 야미</span>에게 물어보세요!
      <br>맞춤 레시피를 추천해드립니다 🍳
    </h2>

    <div class="main-chat fade-up delay-2">
      <form class="intro-form" th:action="@{/chat/start}" method="post">
        <div class="input-wrap">
          <input type="text" name="message" placeholder="(ex. 요즘 날씨가 추운데 따뜻하고 간단한 레시피 뭐 없을까?)" required autocomplete="off">
          
          <button type="submit" class="send-btn">
            <i class="fa-solid fa-paper-plane"></i>
          </button>
        </div>
      </form>

    </div>
  </main>

  <th:block th:insert="~{modules/footer :: footer-body}" />

  <script th:src="@{/js/modal.js}"></script>
  <script th:src="@{/js/header.js}"></script>

</body>
</html>