<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">

    <link rel="stylesheet" th:href="@{/css/footer.css}" />

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <h2 class="footer-logo">Yammi</h2>
                <p>E-mail: yammi2025@yammi.com</p>
                <p>대표번호: 042-1234-5678</p>
                <p>주소: 대전광역시 중구 중앙로121번길 20(선화동41)</p>
            </div>

            <div class="footer-right">
                <ul>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">개인정보 보호</a></li>
                    <li><a href="#">방침이용약관</a></li>
                </ul>
            </div>
        </div>
    </footer>

</th:block>
</html>