<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="/modules/static/css/header.css" />
<link rel="stylesheet" href="/modules/static/css/modal.css" />

<header class="header">
  <div class="header-top">
    <div class="logo">
      <a href="/modules/templates/main.html">Yammi</a>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="제육볶음" />
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <button class="login-btn">로그인</button>
  </div>

  <nav class="nav-bar">
    <ul>
      <li><a href="#">AI 야미에게 채팅하기</a></li>
      <li><a href="#">분류별 레시피</a></li>
      <li><a href="#" class="member-only">즐겨찾기한 레시피</a></li>
      <li><a href="#" class="member-only">나의 냉장고</a></li>
    </ul>
  </nav>
</header>

<th:block th:insert="~{modules/modal}" />

<script src="/modules/static/js/modal.js"></script>
<script src="/modules/static/js/header.js"></script>