<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modalFragment">

    <link rel="stylesheet" th:href="@{/css/modal.css}">

    <div class="modal-overlay" id="modal">
        <div class="modal-box">
            <h2 id="modal-title">알림</h2>
            <p id="modal-message">알람 내용</p>

            <div class="modal-btn-group">
                <button class="btn cancel-btn" id="modalCancelBtn">취소</button>
                <button class="btn confirm-btn" id="modalConfirmBtn">확인</button>
            </div>
        </div>
    </div>

    <script th:src="@{/js/modal.js}"></script>

</th:block>
</html>