<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>모달</title>
  <link rel="stylesheet" href="/modules/static/css/modal.css">
</head>

<body>

  <div class="modal-overlay" id="modal">
    <div class="modal-box">
      <h2 id="modal-title">알림</h2>
      <p id="modal-message">알람 내용</p>

      <div class="modal-btn-group">
        <button class="btn cancel-btn" id="modalCancelBtn">취소</button>
        <button class="btn confirm-btn" id="modalConfirmBtn">확인</button>
      </div>
    </div>
  </div>

  <script src="/modules/static/js/modal.js"></script>

</body>

</html>