<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Fridge-Mapper"> 

    <insert id="insertIngredient" parameterType="com.yummy.beckend.dto.FridgeDto">
        INSERT INTO FRIDGE (
            ID, USER_ID, CATEGORY, INGREDIENT, EXPIRATION_DATE
        ) VALUES (
            FRIDGE_SEQ.NEXTVAL,
            #{userId},
            #{category},
            #{ingredient},
            #{expirationDate, jdbcType=DATE}
        )
    </insert>

    <sql id="selectColumns">
        ID, USER_ID, CATEGORY, INGREDIENT, EXPIRATION_DATE
    </sql>

    <select id="findByUserId" parameterType="long" resultType="com.yummy.beckend.dto.FridgeDto">
        SELECT
            <include refid="selectColumns"/>,
            CASE 
                WHEN EXPIRATION_DATE IS NOT NULL 
                THEN TRUNC(EXPIRATION_DATE) - TRUNC(SYSDATE) 
                ELSE NULL 
            END AS dday
        FROM FRIDGE
        WHERE USER_ID = #{userId}
        ORDER BY ID DESC
    </select>
    
    <select id="findById" parameterType="long" resultType="com.yummy.beckend.dto.FridgeDto">
        SELECT <include refid="selectColumns"/> FROM FRIDGE WHERE ID = #{id}
    </select>

    <update id="updateIngredient" parameterType="com.yummy.beckend.dto.FridgeDto">
        UPDATE FRIDGE
        SET CATEGORY = #{category}, INGREDIENT = #{ingredient}, EXPIRATION_DATE = #{expirationDate, jdbcType=DATE}
        WHERE ID = #{id} AND USER_ID = #{userId}
    </update>

    <delete id="deleteIngredient" parameterType="long">
        DELETE FROM FRIDGE WHERE ID = #{id}
    </delete>

    <delete id="deleteIngredients" parameterType="map">
        DELETE FROM FRIDGE WHERE USER_ID = #{userId} AND ID IN
        <foreach item="id" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findIngredientNamesByUserId" parameterType="long" resultType="string">
        SELECT INGREDIENT FROM FRIDGE WHERE USER_ID = #{userId} ORDER BY INGREDIENT ASC
    </select>
</mapper>